Finishing a large segment of SQL work today. Very much aim to incorporate it in the future, maybe redo some code with it, versus pandas joins and other methods.

Should be one of the last days with these minor updates, as I will be finishing my college studies, which will give me far more time to dedicate to skill building. Just overnight, I went from petrified by a left join to fully confident in its use. I am by no means finished learning SQL, but I traversed a significant portion of the learning curve, and I'm excited.

I really enjoy the idea of returning to previous projects and bits of code, and seeing where I can use SQL instead.

Also going to proceed when I get finished with the last of my SQL college class. I only have two assignments and an exam left.

I finish my first SQL college class today. This morning, I read an article about the importance of knowing the SQL commands for various common Pandas functions.

Completed with 100 percent. Now to figure how to incorporate into past projects.

Completed the semester!!!

The eventual idea is to begin by replacing my most simple pandas merge with a SQL join. Implementing will be a fun attempt at redesign.

Let's begin...gonna grab a piece of code and convert it, documenting changes in this preceding markdown block...here goes:

In [1]:
import requests as req
import pandas as pd
response = req.get("https://datausa.io/api/data?drilldowns=State&measures=Population&year=latest")
json = response.json()
df = pd.json_normalize(data = json, record_path = ["data"])
df.drop(df.columns[[0,2,3,5]], axis=1, inplace=True)
df.rename(columns = {"Population":"Population (2020)"}, inplace = True)
df

                   State  Population (2020)
0                Alabama            4893186
1                 Alaska             736990
2                Arizona            7174064
3               Arkansas            3011873
4             California           39346023
5               Colorado            5684926
6            Connecticut            3570549
7               Delaware             967679
8   District of Columbia             701974
9                Florida           21216924
10               Georgia           10516579
11                Hawaii            1420074
12                 Idaho            1754367
13              Illinois           12716164
14               Indiana            6696893
15                  Iowa            3150011
16                Kansas            2912619
17              Kentucky            4461952
18             Louisiana            4664616
19                 Maine            1340825
20              Maryland            6037624
21         Massachusetts            6873003
22              Michigan            9973907
23             Minnesota            5600166
24           Mississippi            2981835
25              Missouri            6124160
26               Montana            1061705
27              Nebraska            1923826
28                Nevada            3030281
29         New Hampshire            1355244
30            New Jersey            8885418
31            New Mexico            2097021
32              New York           19514849
33        North Carolina           10386227
34          North Dakota             760394
35                  Ohio           11675275
36              Oklahoma            3949342
37                Oregon            4176346
38          Pennsylvania           12794885
39          Rhode Island            1057798
40        South Carolina            5091517
41          South Dakota             879336
42             Tennessee            6772268
43                 Texas           28635442
44                  Utah            3151239
45               Vermont             624340
46              Virginia            8509358
47            Washington            7512465
48         West Virginia            1807426
49             Wisconsin            5806975
50               Wyoming             581348
51           Puerto Rico            3255642

Remove and rename columns will be enacted in SQL form

In [ ]:
CREATE

Going to create the tables, then perform a join.

In [ ]:
CREATE TABLE POPULATION
(STATE CHAR(2) PRIMARY KEY,
POPULATION NUMBER);